@model CoreEcommerceUserPanal.Models.Products
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    <link rel="stylesheet" href="~/css/ProductDetails.css">
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Display</h1>

            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
&nbsp;&nbsp;
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>

                        </div>
                    </div>
                    <div class="single-prd-item">
                        <div class="tab-pane" id="pic-2"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                    </div>
                    <div class="single-prd-item">
                        <div class="tab-pane" id="pic-3"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>  @Html.DisplayFor(m => m.ProductName)</h3>
                    <h2> @Html.DisplayFor(m => m.ProductPrice)</h2>
                    <ul class="list">
                        <li><span>Category</span> :  @ViewBag.cname.CategoryName</li>
                        <li><span>Availibility</span> :  @Html.DisplayFor(m => m.ProductQty) Left</li>
                    </ul>
                    <p>
                        @Html.DisplayFor(m => m.ProductDescription)
                    </p>
                    
                        <div class="card_area d-flex align-items-center">

                            <a asp-controller="Home" asp-action="Index" class="primary-btn">BackToList</a>
                            <a asp-controller="Cart" asp-action="Buy" class="primary-btn">Add To Cart</a>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
&nbsp;&nbsp;