@model CoreEcommerceUserPanal.Models.Products
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    <link rel="stylesheet" href="~/css/ProductDetails.css">
}
<center><h2>Product Details</h2></center>
&nbsp;&nbsp;


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                        <div class="tab-pane" id="pic-2"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                        <div class="tab-pane" id="pic-3"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                        <div class="tab-pane" id="pic-4"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                        <div class="tab-pane" id="pic-5"><img src="@Html.DisplayFor(m => m.ProductImage)" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@Html.DisplayFor(m => m.ProductImage)" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="@Html.DisplayFor(m => m.ProductImage)" /></a></li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="@Html.DisplayFor(m => m.ProductImage)" /></a></li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="@Html.DisplayFor(m => m.ProductImage)" /></a></li>
                        <li><a data-target="#pic-5" data-toggle="tab"><img src="@Html.DisplayFor(m => m.ProductImage)" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">  @Html.DisplayFor(m => m.ProductName)</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>

                    </div>
                    <h5 class="price">Product Id: <span>   @Html.DisplayFor(m => m.ProductId)</span></h5>
                    <h5 class="price">Product Price: <span>  @Html.DisplayFor(m => m.ProductPrice)</span></h5>
                    <h5 class="price">Category: <span>@ViewBag.cname.CategoryName</span></h5>
                    <p class="product-description">@Html.DisplayFor(m => m.ProductDescription)</p>





                    @*<h5 class="sizes">
                            sizes:
                            <span class="size" data-toggle="tooltip" title="small">s</span>
                            <span class="size" data-toggle="tooltip" title="medium">m</span>
                            <span class="size" data-toggle="tooltip" title="large">l</span>
                            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                        </h5>
                        <h5 class="colors">
                            colors:
                            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                            <span class="color green"></span>
                            <span class="color blue"></span>
                        </h5>*@
                    <div class="action">

                        <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-secondary">BackToList</a>
                        <a asp-controller="Cart" asp-action="Buy" class="btn btn-sm btn-outline-secondary">Add To Cart</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>