@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br /><br />
<br /><br />

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
               
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.cart)
                        {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="@item.Products.ProductImage" width="100" height="100" alt="">
                                    </div>
                                </div>
                            <td>
                                <p>@item.Products.ProductName</p>
                            </td>


                            <td>
                                <h5>@item.Products.ProductPrice</h5>
                            </td>
                          
                           
                            <td>
                                <a class="btn btn-default" asp-controller="cart" asp-action="Minus" asp-route-id="@item.Products.ProductId">-</a>@item.Quantity
                                <a class="btn btn-default" asp-controller="cart" asp-action="Plus" asp-route-id="@item.Products.ProductId">+</a>
                            </td>

                                 
                                <td>
                                    <h5>@(item.Products.ProductPrice * item.Quantity)</h5>
                                </td>
                            </tr>
                        }
                           
                          
                           
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td></td>
                                <td>
                                    <h5>@ViewBag.total</h5>
                                </td>
                            </tr>
                            
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a asp-controller="Home" asp-action="Index" class="gray_btn">Continue Shopping</a>&nbsp;
                                        @*<a class="primary-btn" href="#">Proceed to checkout</a>*@
                                        @if (ViewBag.i == 0)
                                        {
                                            <a class="primary-btn" asp-controller="Customers" asp-action="Login1">Proceed to Checkout</a> 
                                        }
                                        else
                                        {
                                            <a class="primary-btn" asp-controller="cart" asp-action="Checkout">Proceed to Checkout</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
