@model IEnumerable<CoreEcommerceUserPanal.Models.Products>


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>New <br>Collection!</h1>
                                <p>
                                    <i>
                                        "There is a little bit of magic found in buying something new. It is instant gratification, a quick fix.”
                                    </i>
                                </p>

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/images/pic.jpg" alt="" height="700" width="300">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>New <br>Collection!</h1>
                                <p>
                                    <i>
                                        "When women are depressed, they eat or go shopping. Men invade another country. It’s a whole different way of thinking"
                                    </i>
                                </p>

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/images/banner3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/abt.jpg" alt="">
                            <a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Shopping is my cardio</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/Women2.jpg" alt="">
                            <a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Something traditional</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/AboutUs1.jpg" alt="">
                            <a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Shopping a day start</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/banner1.jpg" alt="">
                            <a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Let's go and shop</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/boys.png" alt="">
                    <a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Shopping For boys</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->

         

                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                @*Thumbnail Start*@

                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img src="@item.ProductImage" class="bd-placeholder-img card-img-top" height="400" width="200" />
                                        <div class="card-body">
                                            <p class="card-text" style="font-weight:bold;">@item.ProductName</p>
                                            <p class="card-text" style="font-weight:bold;">@item.ProductDescription</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    @*<button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>*@
                                                    @*<button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>*@
                                                    @if (item.ProductQty < 1)
                                                    {
                                                        <a class="btn btn-sm btn-outline-secondary"> Add to Cart </a>@:&nbsp;&nbsp;&nbsp;

                                                        <a asp-controller="Cart" asp-action="OutofStock" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-secondary"> View Details</a>}

                                                    else
                                                    {
                                                        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId" onclick="alert('Added To cart')" class="btn btn-sm btn-outline-secondary"> Add to Cart </a> @:&nbsp;&nbsp;&nbsp;

                                                        <a asp-controller="Cart" asp-action="details" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-secondary"> View Details</a>}
                                                </div>
                                                @if (item.ProductQty < 1)
                                                {
                                                <h5>
                                                    
                                                    <font color="red">Out Of Stock</font>
                                                    </h5>
                                                }
                                                else
                                                {
                                                    <h5>
                                                        <font color="black">@item.ProductQty Left</font>
                                                    </h5>
                                                    }


</div>
                                           
                                        </div>
                                    </div>
                                </div>

                            }
                            </div>
                        </div>
                    </div>
            
